<div class="row mt-4">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h3 class="text-left mb-3">Edit Ticket</h3>
            <h6 class="text-left mb-3"><b>Created on:</b>
                <%=tickets.ticket_timestamp.toLocaleString()%> by
                    <b>
                        <%=tickets.created_by%>
                    </b>
            </h6>
            <% include ('./partials/messages') %>
                <form action="<%=tickets._id%>" method="POST">
                    <div class="form-group">
                        <label for="ticket_name">
                            Ticket Name
                        </label>
                        <input type="ticket_name" id="ticket_name" name="ticket_name" class="form-control"
                            value="<%=tickets.ticket_name%>" required
                            oninvalid="this.setCustomValidity('Attention: Only alphanumeric characters allowed')"
                            oninput="this.setCustomValidity('')" pattern="^[A-Za-z\s0-9]+$" />
                    </div>
                    <div class="form-group">
                        <label for="ticket_details">Ticket Details</label>
                        <textarea class="form-control" id="ticket_details" name="ticket_details" rows="3"
                            required><%=tickets.ticket_details%></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ticket_type">Ticket Type</label>
                        <select class="custom-select" id="ticket_type" name="ticket_type" required>
                            <option selected hidden="">
                                <%=tickets.ticket_type%>
                            </option>
                            <option>Development</option>
                            <option>Testing</option>
                            <option>Production</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ticket_status">Ticket Status</label>
                        <select class="custom-select" id="ticket_status" name="ticket_status" required>
                            <option selected hidden="">
                                <%=tickets.ticket_status%>
                            </option>
                            <option>Open</option>
                            <option>Resolved</option>
                            <option>Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ticket_priority">Ticket Priority</label>
                        <select class="custom-select" id="ticket_priority" name="ticket_priority" required>
                            <option selected hidden="">
                                <%=tickets.ticket_priority%>
                            </option>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="assign_to">Assigned To</label>
                        <select class="custom-select" id="assign_to" name="assign_to" required>
                            <%users.forEach(users=> { %>
                                <% if (users.role=='Developer' ) { %>
                                    <option selected hidden="">
                                        <%=tickets.assign_to%>
                                    </option>
                                    <option value="<%=users.name%>">
                                        <%=users.name%> |
                                            <%=users.group%>
                                    </option>
                                    <% } %>
                                        <% }); %>
                        </select>
                    </div>
                    <% if (user.role!='Client' ) {%>
                        <% if ((tickets.ticket_status!="Closed" ) || (tickets.ticket_status=="Closed" &&
                            user.role=="Admin" )) { %>
                            <a href="/dashboard" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <% } %>
                                <% } %>
        </div>
        </form>
    </div>

    <!-- COMMENT SECTION -->

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="text-left mb-3">Comments</h3>
            <div class="media">
                <div class="media-body">
                    <form>
                        <br>
                        <div class="form-group">
                            <%comments.forEach(comments=> { %>

                                <input type="comment_details" id="comment_details" name="comment_details"
                                    class="form-control" value="<%=comments.comment_details%>" disabled />
                                <b>Posted by: </b>
                                <%=comments.created_by%>
                                    on <i>
                                        <%=comments.comment_timestamp.toLocaleString()%>
                                    </i>
                                    <hr>

                                    <% }); %>
                        </div>
                    </form>

                    <form action="/add_comments" method="POST">
                        <% if (tickets.ticket_status!="Closed" ) { %>
                            <div class="form-group">
                                <label for="ticket_name">Add Comment</label>
                                <input type="comment_details" id="comment_details" name="comment_details"
                                    class="form-control" placeholder="Add Comment" required="" /><br>
                            </div>
                            <div class="form-group">
                                <label hidden for="created_by">Created By</label>
                                <input hidden type="created_by" id="created_by" name="created_by" class="form-control"
                                    value="<%=user.name%>" />
                            </div>
                            <div class="form-group">
                                <label hidden for="ticket_id">Ticket ID</label>
                                <input hidden type="ticket_id" id="ticket_id" name="ticket_id" class="form-control"
                                    value="<%=tickets._id%>" />
                            </div>
                            <div class="modal-footer-left">
                                <button class="btn btn-primary" type="submit">Add Comment</button>
                            </div>
                            <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>